.navbar-brand img{
    height: 80px;
    width: auto;
}

.collapse li{
    margin-right: 10px;
}

#service{
    display: flex;
}

.active .nav-link{
    text-decoration: underline;
    text-underline-position: under;
}