#mainCar .carousel-item img{
    width: 100%;
    height: 10vw;
    object-fit: cover;
    cursor: zoom-in;
}

.close{
    position: fixed;
    top: 18px;
    right: 30px;
    opacity: 1;
}

.close span{
    display: block;
    font-size: 40px;
    color: white;
}

.modal{
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content{
    background-color: inherit;
    border: none;
}

.modal-header{
    border: none;
}

#modalCar img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

video{
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#commentsBtn{
    margin: 15px;
}

@media only screen and (max-width: 1199px){
    #mainCar .carousel-item img{
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    #modalCar img{
        height: 520px;
    }
}

@media only screen and (max-width: 991px){
    #mainCar .carousel-item img{
        width: 100%;
        height: 38vw;
        object-fit: cover;
    }

    #modalCar img{
        height: 320px;
    }
}

@media only screen and (max-width: 767px){
    #mainCar .carousel-item img{
        width: 100%;
        height: 55vw;
        object-fit: cover;
    }

    #modalCar img{
        height: 300px;
    }
}